$red-color: #d00b01;
$gray-color: gray;
$black-color: #313131;
$string-height: 5px;
$bold-font: 800;
$black-color-2: #3a3a3a;
$gray-color-2: #ccc;
$filter-invert: invert(100%);
$white-color: #ffffff;

@mixin text-parameters {
  font-weight: 300;
  margin-top: 10px;
}

@mixin placeholder-style {
  position: relative;
  text-transform: capitalize;
  background-color: $gray-color-2;
  border: none;

  &::placeholder {
    position: absolute;
    top: 10px;
    left: 12px;
    color: $black-color;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.string {
  height: $string-height;
}

.black {
  background-color: $black-color;
}

.red {
  background-color: $red-color;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  padding: 0 110px;

  .header {
    width: 100%;

    &__container {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
        }
      }

      .hamburger {
        display: none;
        font-size: 24px;
        cursor: pointer;
        margin-right: 10px;
      }

      .nav {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
          font-weight: $bold-font;
          color: $black-color;
          padding: 10px;

          &:hover {
            color: $gray-color-2;
          }
        }

        .active {
          color: $red-color;
          pointer-events: none;
        }
      }

      @media screen and (max-width: 900px) {
        position: relative;

        .hamburger {
          display: block;
        }

        .nav {
          display: none;
          flex-direction: column;
          position: absolute;
          top: 100%;
          right: 0;
          background-color: white;
          border: 1px solid $gray-color;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 10px;
          z-index: 999;

          a {
            display: block;
            padding: 8px 10px;
            color: $black-color;

            &:hover {
              color: $gray-color;
            }

            &.active {
              color: $red-color;
            }
          }
        }

        &.menu-open {
          .nav {
            display: flex;
          }
        }
      }
    }
  }

  .icon-section {
    display: flex;
    text-align: center;
    justify-content: center;

    .ticket {
      display: flex;
      flex-direction: column;
      max-width: 25%;
      align-items: center;
      margin-top: 93px;

      &__icon {
        margin-bottom: 10px;

        .icon {
          height: 71px;
          width: 72px;
          display: block;
          background-repeat: no-repeat;
          background-size: 40px;
          background-position: center;
          background-color: $gray-color-2;
          border-radius: 100px;
        }

        .custom-icon {
          cursor: pointer;

          &:hover {
            filter: $filter-invert;
            background-color: #2ff4fe;
          }
        }
      }

      &__content {
        font-size: 12px;
        line-height: 18px;
        color: $black-color-2;
        font-family: "Arial";
        text-align: center;
        overflow-x: auto;
        padding: 10px;
      }
    }
  }

  .text-content {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: "Open Sans";
    color: $black-color-2;
    text-align: center;

    h3 {
      font-weight: 300;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 35px 0;
    }
  }

  .posts {
    width: 100%;
    margin-top: 50px;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }

    .cards {
      margin-top: 20px;
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;

      .cards-item {
        &__picture {
          height: 191px;
          width: 271px;
          background-color: $gray-color-2;
        }

        &__content {
          max-width: 271px;
          overflow-x: auto;
          text-align: justify;

          &__title {
            @include text-parameters;
            display: block;
            color: $red-color;
            text-transform: uppercase;
            font-size: 16px;
          }

          &__author {
            @include text-parameters;
            font-size: 14px;
            color: $gray-color-2;
          }

          &__text {
            color: $black-color;
            margin-top: 10px;

            a {
              color: $red-color;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      margin-left: 2px;
    }
  }

  .information {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;

    &__card {
      &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 20px 0;
        &__messages {
          &-img {
            float: left;
            width: 20px;
            height: 20px;
            margin: 7px 7px 7px 0;
          }

          a {
            text-decoration: none;
            color: $red-color;
          }
        }

        &__form {
          display: flex;
          flex-direction: column;

          &-item {
            height: 35px;
            margin-bottom: 5px;
            padding: 8px;
            @include placeholder-style();
          }

          &-message {
            height: 115px;
            text-transform: capitalize;
            @include placeholder-style();
          }

          &__btns {
            margin-top: 5px;

            &-item {
              height: 35px;
              padding: 8px;
              text-transform: uppercase;
              color: $white-color;
              font-weight: $bold-font;
              background-color: $black-color;
              border: none;

              &:hover {
                background-color: $red-color;
              }
            }
          }
        }
        &__images {
          display: flex;
          justify-content: space-between;
          gap: 5px;
          &-item {
            height: 84px;
            width: 84px;
            background-color: $black-color;
          }
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    padding: 0 20px;

    .icon-section,
    .cards {
      flex-wrap: wrap;
      gap: 20px;
      padding: 0;

      .ticket {
        max-width: 100%;
        margin: 20px 0;
      }
    }

    .posts {
      .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .text-content {
      padding: 0 20px;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    padding: 0 50px;

    .icon-section,
    .cards {
      gap: 30px;
      padding: 0;
    }
  }

  @media screen and (min-width: 901px) {
    padding: 0 100px;

    .nav-item {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 1200px) {
    .information {
      display: flex;
      flex-direction: column;
    }
  }
}

.title {
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-color;
  font-weight: $bold-font;
}

.switch-button {
  background-color: $black-color;
  color: white;
  border-radius: 25px;
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gray-line {
  height: 1px;
  background-color: $gray-color-2;
}

.reset-btn {
  width: 90px;
}

.send-button {
  width: 50px;
}

.author {
  color: $red-color;
  margin-top: 15px;
}
